# **Manejo de cadenas**

## Ejercicio 1: Saludo Personalizado

* Crea un programa que pida al usuario su nombre y edad, y luego imprima un saludo personalizado.
* Usa input para capturar el nombre y la edad.
* Usa print para mostrar el saludo.

In [1]:
nombre = input("Hola ¿Cómo te llamas? ")
edad = input("Y... ¿Cuántos años tienes? ")
edad = int(edad)  # Convertir a entero, porque la salida de input es str
print(f"Hola {nombre}, actualmente tienes {edad} años.")

Hola ¿Cómo te llamas? Alexander
Y... ¿Cuántos años tienes? 32
Hola Alexander, actualmente tienes 32 años.

## Ejercicio 2: Manipulación de Cadenas

* Crea una cadena con tu nombre completo.
* Usa los métodos de cadenas para:
  * Convertir el nombre a mayúsculas y minúsculas.
  * Contar el número de letras en tu nombre.
  * Reemplazar tu primer nombre por otro nombre.

In [7]:
full_name = "Duber Alexander Marín Pavas"

print("Mi nombre en mayúsculas: ", full_name.upper(),
      "\nMi nombre en minúsculas: ", full_name.lower(),
      "\nMi nombre tiene ", len(full_name),
      "caracteres, incluidos ", full_name.count(" "), "espacios"
      )

#Si quiero solo la cantidad de caracteres
#print("\nMi nombre tiene ", int(len(full_name))-full_name.count(" "), "caracteres")

Mi nombre en mayúsculas:  DUBER ALEXANDER MARÍN PAVAS
Mi nombre en minúsculas:  duber alexander marín pavas
Mi nombre tiene  27 caracteres, incluidos  3 espacios

## Ejercicio 3: Lista de Nombres

* Pide al usuario que ingrese una lista de nombres separados por comas.
* Usa split para convertir esta cadena en una lista de nombres.
* Imprime cada nombre en una línea separada.

In [12]:
lista = input("Por favor, ingresa varios nombres separados por comas: ")
print(lista.split(","))
for nombre in lista.split(","):
  print(nombre.strip())

Por favor, ingresa varios nombres separados por comas: Duber, Alexander, Lucas, Mateo
['Duber', ' Alexander', ' Lucas', ' Mateo']
Duber
Alexander
Lucas
Mateo